@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-ibm: var(--font-ibm-plex);
}

@layer base {
  html {
    @apply font-ibm;
  }

  body {
    @apply min-h-screen;
  }
}

html {
  scroll-behavior: smooth;
}
.translate {
  animation: translate 2s infinite forwards alternate;
}
@keyframes translate {
  from {
    transform: translateY(-20);
  }
  to {
    transform: translateY(30);
  }
}
.custom-toast {
  background: white !important;
  color: black !important;
}

.dark .custom-toast {
  background: black !important;
  color: white !important;
}
